@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
  }
  
  #root {
    height: 100vh;
    background-image: url('../assets/pokemonBgGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  *, *::before, *::after {
    box-sizing: inherit;
    font-family: 'Press Start 2P', monospace;
  }

  .page {
    height: 100%;
    width: 100%;
    padding: 5rem 10rem;
  }

  .playBorder {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
    }
  }